
#APP
ENVIRONMENT=production
NGINX_PORT=80

#DATABASE
DB_TYPE=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=5432
DB_HOST=

#URL APP
HOST_API=
HOST_FRONT=

#BACKEND
SERVER_PORT=3000
THROTTLE_TTL=60
THROTTLE_LIMIT=10
FALLBACK_LANGUAGE=es
JWT_SECRET=

#WORD API
WORD_API=https://random-words-api.kushcreates.com/api