[submodule "frontend"]
	path = frontend
	url = https://github.com/cesarhuesca-dev/impostor-game-front
[submodule "backend"]
	path = backend
	url = https://github.com/cesarhuesca-dev/impostor-game-back
